# ####### Root folder ########
# Visual Studio solution files
*.sdf
*.suo
*.opensdf

# bin and 3rd party library
bin/
LibPacks/

# Build files
Data/
Mod/*/

##############################

# Src folder #
# App
src/App/Debug/
src/App/Release/

# App - CustomBuild files
## Using src/Tools/generate.py from xml
src/App/*Py.cpp
src/App/*Py.h

## Using src\Tools\PythonToCPP.py
src/App/InitScript.h
src/App/TestScript.h

# Base
src/Base/Debug/
src/Base/Release/

# Base - CustomBuild files
## Using src/Tools/generate.py from xml
src/Base/*Py.cpp
src/Base/*Py.h

## Using bin/moc.exe
src/Base/moc_*.cpp

# Gui
src/Gui/Debug/
src/Gui/Release/

# Gui - CustomBuild files
## Using bin/moc.exe
src/Gui/moc_*.cpp
src/Gui/iisTaskPanel/src/moc_*.cxx
src/Gui/Language/moc_*.cpp
src/Gui/propertyeditor/moc_*.cpp
src/Gui/QSint/actionpanel/moc_*.cxx
src/Gui/Quarter/moc_*.cxx
src/Gui/Quarter/eventhandlers/moc_*.cxx
src/Gui/TaskView/moc_*.cpp

## Using src/Tools/generate.py from xml
src/Gui/*Py.cpp
src/Gui/*Py.h

## Using bin/rcc.exe from *.qrc
src/Gui/qrc_*.cxx

## Using bin/uic.exe from *.ui
src/Gui/ui_*.h

## Using src\Tools\PythonToCPP.py
src/Gui/GuiInitScript.h


# Main
src/Main/GuiPy/Debug/
src/Main/GuiPy/Release/
src/Main/Main/Debug/
src/Main/Main/Release/
src/Main/MainCmd/Debug/
src/Main/MainCmd/Release/
src/Main/MainPy/Debug/
src/Main/MainPy/Release/

# Workbenches ignore files
# Assembly
src/Mod/Assembly/App/Debug/
src/Mod/Assembly/App/Release/
src/Mod/Assembly/Gui/Debug/
src/Mod/Assembly/Gui/Release/
src/Mod/Assembly/Gui/qrc_*.cxx


# Mesh
src/Mod/Mesh/App/Debug/
src/Mod/Mesh/App/Release/
src/Mod/Mesh/Gui/Debug/
src/Mod/Mesh/Gui/Release/
src/Mod/Mesh/Gui/qrc_*.cxx
src/Mod/Mesh/Gui/moc_*.cpp
src/Mod/Mesh/Gui/ui_*.h

# Part
src/Mod/Part/App/Debug/
src/Mod/Part/App/Release/
src/Mod/Part/Gui/Debug/
src/Mod/Part/Gui/Release/
src/Mod/Part/Gui/qrc_*.cxx
src/Mod/Part/Gui/moc_*.cpp
src/Mod/Part/Gui/ui_*.h

# PartDesign
src/Mod/PartDesign/App/Debug/
src/Mod/PartDesign/App/Release/
src/Mod/PartDesign/Gui/Debug/
src/Mod/PartDesign/Gui/Release/
src/Mod/PartDesign/Gui/qrc_*.cxx
src/Mod/PartDesign/Gui/moc_*.cpp
src/Mod/PartDesign/Gui/ui_*.h

# Sketcher
src/Mod/Sketcher/App/Debug/
src/Mod/Sketcher/App/Release/
src/Mod/Sketcher/App/*Py.cpp
src/Mod/Sketcher/App/*Py.h
src/Mod/Sketcher/Gui/Debug/
src/Mod/Sketcher/Gui/Release/
src/Mod/Sketcher/Gui/qrc_Sketcher.cxx
src/Mod/Sketcher/Gui/moc_*.cpp
src/Mod/Sketcher/Gui/ui_*.h

# Start
src/Mod/Start/App/Debug/
src/Mod/Start/App/Release/
src/Mod/Start/Gui/Debug/
src/Mod/Start/Gui/Release/
src/Mod/Start/Gui/qrc_*.cxx


# Web
src/Mod/Web/App/Debug/
src/Mod/Web/App/Release/
src/Mod/Web/Gui/Debug/
src/Mod/Web/Gui/Release/
src/Mod/Web/Gui/qrc_*.cxx

# Example_data
src/Example_data/Debug/
src/Example_data/Release/
